:root {
    --font-base: 'Nunito Sans', sans-serif;
    --size-base: 14px;
    --size-detail: 16px;

    --weight-h1: 800;
    --weight-h2: 600;
    --weight-h3: 300;

    /* 無論深色淺色模式，取的名字要一樣，這樣才知道要切換哪個 */
    /* 預設淺色模式 */
    --color-back: hsl(0, 0%, 99%);
    --color-ele: hsl(0, 100%, 100%);
    --color-text: hsl(200, 15%, 8%);
    --color-input: hsl(0, 0%, 50%);
}

/* 設定深色模式 */
[data-theme='dark'] {
    --color-back: hsl(207, 26%, 17%);
    --color-ele: hsl(209, 23%, 22%);
    --color-text: hsl(0, 100%, 100%);
}

body {
    background-color: var(--color-back);
    font-family: var(--font-base);
    font-size: var(--size-base);
    color: var(--color-text);
}

card {
    background-color: var(--color-ele);
}

h1,
h2,
h3 {
    color: var(--color-text);
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: var(--weight-h1);
}

h2 {
    font-weight: var(--weight-h2);
}

h3 {
    font-weight: var(--weight-h3);
}

.h1-d,
.h2-d,
.h3-d {
    font-size: var(--size-detail);
    padding: 0;
    margin: 0;
}

.h1-d {
    font-weight: var(--weight-h1);
}

.h2-d {
    font-weight: var(--weight-h2);
}

.h3-d {
    font-weight: var(--weight-h3);
}