:root {
    /* 字體大小 */
    --text-preset-1: 144px;
    --text-preset-2: 96px;
    --text-preset-3: 56px;
    --text-preset-4: 32px;
    --text-preset-5: 28px;
    --text-preset-6: 28px;
    --text-preset-7: 14px;
    --text-preset-8: 16px;
    --text-preset-8-bold: 16px;
    --text-preset-9: 18px;

    /* 字型 */
    --fonts-1: "Bellefair";
    --fonts-2: "Barlow Condensed";
    --fonts-3: "Barlow";

    /* 粗體 */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

@media (min-width:768px) {
    :root {
        --text-preset-2: 80px;
        --text-preset-3: 40px;
        --text-preset-4: 24px;
        --text-preset-5: 20px;
        --text-preset-9: 16px;
    }
}

@media (min-width:375px) {
    :root {
        --text-preset-1: 80px;
        --text-preset-2: 56px;
        --text-preset-3: 24px;
        --text-preset-4: 18px;
        --text-preset-6: 16px;
        --text-preset-8: 14px;
        --text-preset-9: 15px;
    }
}

.text-preset-5 {
    font-size: var(--text-preset-5);
    font-family: var(--fonts-2);
}

.text-preset-7 {
    font-size: var(--text-preset-7);
    font-family: var(--fonts-2);
}

.text-preset-8 {
    font-size: var(--text-preset-8);
    font-family: var(--fonts-2);
}

.text-preset-8-bold {
    font-size: var(--text-preset-8-bold);
    font-family: var(--fonts-2);
    font-weight: var(--font-weight-bold);
}

.text-preset-9 {
    font-size: var(--text-preset-9);
    font-family: var(--fonts-3);
}